.notes{
    background-color: white;
    height: 50px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.btn-small{
    cursor: pointer;
    color: white;
    display: inline-flex;
    background-color: green;
    width: 25px;
    aspect-ratio: 1;
    justify-content: center;
    border-radius: 5px;
}

.btn-success{
    background-color: green;
}

.warning{
    background-color: #ffac00;
    color: black;
}

.text-decoration-line-through{
    text-decoration: underline;
}

.btn-danger{
    background-color: red;
}