.notes{
    background-color: white;
    height: 50px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}